/*************************Common******************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(254, 254, 172);

}
.my-container{
    max-width: 600px;
    margin: auto;
}
ul{
    list-style: none;
}
.my-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*************************messaggio di errore******************************/
.my-alert{
    color: red;
    background-color: rgba(255, 0, 0, 0.2);
    padding: 5px;
    width: 40%;
    margin: auto;
    border-radius: 20px;
}
/*************************elementi to do******************************/
.item{
    background-color: rgb(167, 167, 167);
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}
/* bottone per il remove task */
.item button{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 50%;
}
.inner-item{
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 30px;
}
.inner-item div{
    font-size: 20px;
    line-height: 25px;
}
.inner-item div:last-child::first-letter{
    text-transform: uppercase;
}
/* pallini colorati */
.inner-item div:first-child{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 25px;
}

/*************************elementi fatti e hover******************************/
.done{
    text-decoration: line-through 2px;
}
.inner-item div.x-done:first-child{
    background-color: white;
    color: red;
}
.li-done{
    background-color: lightgrey!important;
}
.item:not(.li-done):hover{
    background-color: white!important;
}
