<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.41/dist/vue.global.min.js"></script>
    <script src="js/script.js" defer></script>
    <title>Vue To Do List</title>
</head>
<body>
    <div id="app">
        <div class="my-container">
            <div class="text-center mb-4" :class="{'my-alarm' : alarmTitle}">
                <h1 class="my-4 fst-italic">To do List</h1>
                <input type="text" v-model="newTitle" @keyup.enter="addTasks()" v-show="inputTitle" @blur="toggleInputTitle()">
                <button class="btn btn-dark" v-show="!inputTitle" @click="toggleInputTitle()">Add Category</button>
            </div>
            <div>
                <ul v-if="(titleTodos.length != 0)">
                    <li v-for="(title,j) in titleTodos" :key="j" class="tasks mb-4">
                        <div class="my-flex mb-2">
                            <div class="my-flex" :class="{'my-alarm' : title.alarm}">
                                <span class="text-capitalize fs-3 me-3">{{title.titolo}}</span>
                                <input type="text" class=" my-input" v-model="title.newTodo" @keyup.enter="addTask(j)" v-show="title.inputTask" @blur="toggleInput(j)">
                                <button class="my-btn" v-show="!title.inputTask" @click="toggleInput(j)">Add Task</button>
                            </div>
                            <button @click="removeTasks(title,j)" class="my-button"><i class="fa-solid fa-minus"></i></button>
                        </div>
                        <ul v-if="(todos[j].length != 0)">
                            <li v-for="(todo,i) in todos[j]" :key="i" class="my-flex task" :class="{'li-done':todo.done}" :style="{backgroundColor : `${colors[mod(i)]}`}">
                                <div class="inner-task flex-grow-1" @click="taskDone(j,i)">
                                    <div v-if="todo.done" :class="{'x-done':todo.done}">&#10008;</div> 
                                    <div v-else :style="{backgroundColor : `${colorsCircle[mod(i)]}`}"></div>
                                    <div class="ms-2" :class="{'done':todo.done}">{{todo.testo}}</div>
                                </div>
                                <button @click="removeTask(todo,j)" class="my-button"><i class="fa-solid fa-minus"></i></button>
                            </li>
                        </ul>
                        <div v-else class="message-empty">
                            Complimenti non hai Task
                        </div>
                    </li>
                </ul>
                <div v-else class="message-empty text-center fs-3">
                    Complimenti non hai Tasks
                </div>
            </div>
        </div>
    </div>
</body>
</html>